{% extends 'GoproTransporteBundle::layout.html.twig' %}
{% block title %}Agregar servicio{% endblock title %}
{% block titulo %}Agregar servicio{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_transporte_servicio') }}">
                Vover a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
