{% extends 'GoproMainBundle::global.html.twig' %}
{% block title %}{{ parent() }}{% endblock title %}
{% block titulo %}{{ parent() }}{% endblock titulo %}
{% block maincontent %}
    <p>Hola {{ name }}, bienvenido al extranet de OpenPeru!</p>
{% endblock maincontent %}


