{% if admin.isGranted('EDIT', object) and admin.hasRoute('emitir') %}
    <a href="#"
       class="btn btn-sm btn-warning edit_link"
       data-toggle="modal"
       data-target="#generarnotacreditoModal-{{ object.id }}">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        Generar Nota
    </a>

    <div class="modal fade" id="generarnotacreditoModal-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="generarnotacreditoLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="generarnotacreditoLabel">Emitir</h4>
                </div>
                <div class="modal-body">
                    Esta seguro que desea generar una nota de crédito?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        No
                    </button>
                    <a href="{{ admin.generateObjectUrl('generarnotacredito', object) }}"
                       class="btn btn-warning"
                       title="Generar">
                        Generar Nota
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

