{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .field-container {overflow-x: auto; padding-bottom: 20px;}
        .form-control {}
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        (function ($) {
            var methods = {
                init: function (options) {
                    var settings = $.extend(true, {}, $.fn.autoFit.defaults, options);
                    var $this = $(this);

                    $this.keydown(methods.fit);
                    $this.focus(methods.fit);

                    methods.fit.call(this, null);

                    return $this;
                },

                fit: function (event) {
                    var $this = $(this);

                    var val = $this.val().replace(' ', '-');
                    var fontSize = $this.css('font-size');
                    var padding = $this.outerWidth() - $this.width();
                    var contentWidth = $('<span style="font-size: ' + fontSize + '; padding: 0 ' + padding / 2 + 'px; display: inline-block; position: absolute; visibility: hidden;">' + val + '</span>').appendTo('body').outerWidth();
                    //console.log(val + ' ' + contentWidth);
                    $this.width((contentWidth + padding - 20) + 'px');

                    return $this;
                }
            };

            $.fn.autoFit = function (options) {
                if (typeof options == 'string' && methods[options] && typeof methods[options] === 'function') {
                    return methods[options].apply(this, Array.prototype.slice.call(arguments, 1));
                } else if (typeof options === 'object' || !options) {
                    // Default to 'init'
                    return this.each(function (i, element) {
                        methods.init.apply(this, [options]);
                    });
                } else {
                    $.error('Method ' + options + ' does not exist on jquery.auto-fit.');
                    return null;
                }
            };

            $.fn.autoFit.defaults = {};

        })(this['jQuery']);

        /*
        $(document).on('sonata.add_element','#field_container_{{ admin.uniqid }}_serviciooperativos', function(e) {
            $('#field_container_{{ admin.uniqid }}_serviciooperativos input.form-control').autoFit({});
        });
        */

        $(document).on('sonata.add_element', function() {
            $('table input.form-control').autoFit({});
        });

        $( document ).ready(function() {

             $('table input.form-control').css({
                 'max-width': '600px',
                 'width' : '80px',
                 'min-width' : '80px'
            });

            $('table span.select2-chosen').css({
                'width': '120px'
            });

            $('table input.form-control').autoFit({});
        });


    </script>

{% endblock %}
