{% if admin.isGranted('EDIT', object) and admin.hasRoute('resumen') %}
    <a href="{{ admin.generateObjectUrl('resumen', object) }}"
       class="btn btn-sm btn-success"
       title="Resumen">
        <i class="fa fa-info" aria-hidden="true"></i>
        Resumen
    </a>
{% endif %}
