{% if object is defined and admin.hasRoute('resumen') %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('resumen', object) }}">
            <i class="fa fa-info" aria-hidden="true"></i>
            Resumen
        </a>
    </li>
{% endif %}

